<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>282667592194-suhfc3ul818cro8m34bcgik22g7b9k79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282667592194-suhfc3ul818cro8m34bcgik22g7b9k79</string>
	<key>API_KEY</key>
	<string>AIzaSyDVPNWmETEmkER_0GHLMMAO_eSFOEpyAyE</string>
	<key>GCM_SENDER_ID</key>
	<string>282667592194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kampmeier.FRC-Advanced-Scouting-Touchstone</string>
	<key>PROJECT_ID</key>
	<string>fast-432a3</string>
	<key>STORAGE_BUCKET</key>
	<string>fast-432a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282667592194:ios:97ec7539d4c96ad1</string>
	<key>DATABASE_URL</key>
	<string>https://fast-432a3.firebaseio.com</string>
</dict>
</plist>