//
//  Debug.xcconfig
//  FRC Advanced Scouting Touchstone
//
//  Created by Aaron Kampmeier on 2/12/20.
//  Copyright © 2020 Kampfire Technologies. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CONFIG = DEBUG
SERVER_URL = https:/$()/debug.api.com/
API_KEY = debug-123
